/*
 map
-----------------------------------------------------*/
#ticket__map__nagano .st0 {clip-path:url(#SVGID_00000103223887591686847790000005187083434503345579_);}
#ticket__map__nagano .st1 {fill:#F5F5F5;}
#ticket__map__nagano .st2 {fill:#0080B7;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
#ticket__map__nagano .st3 {fill:#DDDDDD;stroke:#FFFFFF;stroke-miterlimit:10;}
#ticket__map__nagano .st4 {fill:#C1E3E2;stroke:#FFFFFF;}
#ticket__map__nagano .st5 {fill:#38A6B5;}
#ticket__map__nagano .st6 {/*fill:none;*/ fill:rgba(193,227,226,.0);}
#ticket__map__nagano .st7 {fill:#231815;}
#ticket__map__nagano .st8 {fill:#088D89;}
#ticket__map__nagano .st9 {fill:none;stroke:#088D89;}
#ticket__map__nagano .st10 {fill:#C1E3E2;stroke:#C1E3E2;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}

#ticket__map__japan .cls-1,
#ticket__map__japan .cls-2 {fill:none;}
#ticket__map__japan .cls-3 {clip-path:url(#clippath);}
#ticket__map__japan .cls-0 {fill:#f5f5f5;}
#ticket__map__japan .cls-4 {fill:#231815;}
#ticket__map__japan .cls-5 {fill:#088d89;}
#ticket__map__japan .cls-7 {stroke:#fff;stroke-width:.5px;}
#ticket__map__japan .cls-7,
#ticket__map__japan .cls-8 {fill:#c1e3e2;stroke-linecap:round;stroke-linejoin:round;}
#ticket__map__japan .cls-8 {stroke:#c1e3e2;stroke-width:3px;}
#ticket__map__japan .cls-2 {stroke:#088d89;}

#coupon__map__nagano .st0 {clip-path:url(#SVGID_00000103223887591686847790000005187083434503345579_);}
#coupon__map__nagano .st1 {fill:#F5F5F5;}
#coupon__map__nagano .st2 {fill:#0080B7;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
#coupon__map__nagano .st3 {fill:#DDDDDD;stroke:#FFFFFF;stroke-miterlimit:10;}
#coupon__map__nagano .st4 {fill:#F1D2D8;stroke:#FFFFFF;}
#coupon__map__nagano .st5 {fill:#C04D4F;}
#coupon__map__nagano .st6 {/*fill:none;*/ fill:rgba(241,210,216,.0);}
#coupon__map__nagano .st7 {fill:#231815;}
#coupon__map__nagano .st8 {fill:#A9282E;}
#coupon__map__nagano .st9 {fill:none;stroke:#A9282E;}
#coupon__map__nagano .st10 {fill:#F1D2D8;stroke:#F1D2D8;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}

#coupon__map__japan .cls-1,
#coupon__map__japan .cls-2 {fill:none;}
#coupon__map__japan .cls-3 {clip-path:url(#clippath);}
#coupon__map__japan .cls-0 {fill:#f5f5f5;}
#coupon__map__japan .cls-4 {fill:#231815;}
#coupon__map__japan .cls-5 {fill:#A9282E;}
#coupon__map__japan .cls-7 {stroke:#fff;stroke-width:.5px;}
#coupon__map__japan .cls-7,
#coupon__map__japan .cls-8 {fill:#F1D2D8;stroke-linecap:round;stroke-linejoin:round;}
#coupon__map__japan .cls-8 {stroke:#F1D2D8;stroke-width:3px;}
#coupon__map__japan .cls-2 {stroke:#A9282E;}

a:hover .map { opacity: 0.7; }


/* polygon {fill: #C1E3E2;} */