@charset 'UTF-8';
@use '../../global' as *;

/*----------
  arw
----------*/
.c-arw {
  position: relative;
  display: inline-block;
  padding-right: 2em;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  &:after {
    position: absolute;
    content: "";
    top: calc(50% - 3px);
    right: 0;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-top: 2px solid $color-liteblack;
    border-right: 2px solid $color-liteblack;
    transform: rotate(45deg);
    transition: .3s;
  }
  &:hover:after {
    right: .3em;
  }
}

.l-footer {
  .c-arw {
    &:after {
      right: 1.2em;
      border-top: 2px solid $color-white;
      border-right: 2px solid $color-white;
    }
    &:hover:after {
      right: 1.5em;
    }
  }
}
