@charset 'UTF-8';
@use '../../global' as *;

/*----------
  gooddeal
----------*/
.c-gooddeal {
  //background: $color-bg-gray;
  // padding: 3.8rem 0;
  padding: 3rem 0 0rem;
  & + .c-gooddeal {
    padding-top: 1.5rem;
  }
  @include mq(tab) {
    padding: 4em 0 0em;
    & + .c-gooddeal {
      padding-top: 2rem;
    }
  }
  @include mq(lap) {
    padding: 6em 0 0em;
    & + .c-gooddeal {
      padding-top: 3rem;
    }
  }
  @include mq(desk) {
    padding: 7.6rem 0 0rem;
    & + .c-gooddeal {
      padding-top: 3.8rem;
    }
  }
  &__heading {
    width: 100%;
    max-width: 1286px;
    // margin: 0 auto !important;
    //max-width: 1248px;
    margin-left: 0;
    // padding: 1.1em 0 1em;
    display:flex; flex-direction:column; justify-content:center;;
    font-size: rem(24);
    @include mq(desk) {
      font-size: rem(30);
      margin-left: calc(50% - 643px);
    }
    // @include mq(lap) {
    //   padding: 2em 0 1.6em;
    // }
    span {
      display: block;
      font-weight: 700;
      margin-left: 5%;
      line-height: 1.2;
      @include mq(desk) {
        margin-left: 5rem;
      }
      // @include mq(lap) {
      //   margin-left: 9%;
      // }
    }
    
  }
  &__wrapper {
    margin-top: -.6rem;
    margin-left: 5%;
    padding: 2rem 5%;
    background: $color-white;
    @include mq(tab) {
      margin-top: -1rem;
      padding: 6rem;
    }
    @include mq(desk) {
      margin-left: calc(50% - 560px);
    }
    // @include mq(lap) {
    //   margin-left: 5%;
    //   padding-right: calc(5% + 5%);
    // }
    // @include mq(desk) {
    //   margin-left: 7%;
    //   padding-right: calc(5% + 7%);
    // }
    // @include mq(vr) {
    //   margin-left: 14%;
    //   padding-right: calc(5% + 14%);
    // }
  }
  &__box {
    width: 100%;
    max-width: 1024px;
    & + .c-gooddeal__box {
      margin-top: 2rem;
      @include mq(tab) {
        margin-top: 3rem;
      }
      @include mq(lap) {
        margin-top: 4rem;
      }
    }
    &__map {
      display: none;
      @include mq(tab) {
        display: block;
      }
    }
    &__area {
      display: block;
    }
  }
  &__head {
    margin-bottom: 2em;
    @include mq(lap) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3em;
    }
    h2,
    h3 {
      font-size: rem(20);
      font-weight: bold;
      @include mq(tab) {
        font-size: rem(24);
      }
    }
  }
  &__area {
    @include mq(lap) {
      padding: 0;
    }
  }
  &__area__wrapper {
    @include mq(lap) {
      padding: 45px 0 0 55px;
    }
  }
  &__area__box {
    position: relative;
    width: 100%;
    margin-top: -1px;
    @include mq(lap) {
      width: 25%;
      float: left;
    }
    &:before,
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 1rem;
      height: 1rem;
      @include mq(lap) {
        display: none;
      }
    }
    &:before {
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $color-litegray;
      border-left: 1px solid $color-litegray;
    }
    &:after {
      bottom: 0;
      right: 0;
      border-bottom: 1px solid $color-litegray;
      border-right: 1px solid $color-litegray;
    }
    h4 {
      position: relative;
      font-size: rem(16);
      font-weight: 700;
      padding: 1em;
      @include mq(tab) {
        font-size: rem(18);
      }
      @include mq(lap) {
        pointer-events: none;
        margin-bottom: 1em;
        padding: 0;
      }
      span {
        display: block;
        &:before,
        &:after {
          position: absolute;
          display: block;
          content: "";
          @include mq(lap) {
            display: none;
          }
        }
        &:before {
          top: 50%;
          right: 5%;
          transform: translateY(-50%);
          width: 1rem;
          height: 2px;
          background: #707070;
        }
        &:after {
          top: 50%;
          right: calc(5% + .5rem - 1px);
          transform: translateY(-50%);
          width: 2px;
          height: 1rem;
          background: #707070;
        }
      }
      &:before,
      &:after {
        position: absolute;
        display: block;
        content: "";
        width: 1rem;
        height: 1rem;
        transition-duration: .3s;
        @include mq(lap) {
          display: none;
        }
      }
      &:before {
        top: 0;
        left: 0;
        border-top: 1px solid $color-litegray;
        border-left: 1px solid $color-litegray;
      }
      &:after {
        top: 0;
        right: 0;
        border-top: 1px solid $color-litegray;
        border-right: 1px solid $color-litegray;
      }
      &.active {
        span {
          &:after {
            opacity: 0;
            transition-duration: .3s;
          }
        }
      }
    }
    ul {
      padding: 0 5% 1rem;
      display: none;
      margin-bottom: 0em;
      box-sizing: content-box;
      @include mq(lap) {
        display: block;
        margin-bottom: 4em;
        padding: 0;
      }
      li {
        position: relative;
        padding-left: 1em;
        //margin-bottom: .5em;
        font-weight: 700;
        &:before {
          content:'';
          position: absolute;
          border-radius: 6px;
          top: .8em;
          left: 0;
          width: 6px;
          height: 6px;
        }
        span {
          display: block;
          font-size: rem(12);
          line-height: 140%;
          font-weight: 700;
          span {
            font-size: rem(10);
            font-weight: normal;
          }
          & + span {
            margin-top: .6rem;
          }
        }
        & + li {
          margin-top: 1rem;
        }
      }
    }
  }
  &__map {
    display: none;
  }
}

.sales-start {
  color: $color-black;
}
.soon-end {
  color: $color-black;
}
.sales-end {
  color: #aaa !important;
}