@charset 'UTF-8';
@use '../../global' as *;

/*----------
  portal
----------*/
.c-portal {
  width: 100%;
  padding: 1rem 2rem;
  @include mq(lap) {
    width: 25%;
    padding: 0;
  }
  background: url("../img/index/bg_portal.jpg") no-repeat 30% 50%;
  background-size: cover;
  a {
    display: block;
    color: $color-white;
    height: 100%;
    padding: 2rem 10%;
  }
  &__wrapper {
    display:flex; flex-direction:column; justify-content:center; align-items:center;
    height: 100%;
  }
  &__txt {
    &__box {
      display: flex;
      flex-wrap: wrap;
      @include mq(lap) {
        display: block;
      }
      &__L {
        width: 160px;
        @include mq(lap) {
          width: 100%;
          min-width: none;
        }
      }
      &__R {
        display:flex; flex-direction:column; justify-content:center;
        br {
          display: none;
        }
        @include mq(lap) {
          display: block;
          width: 100%;
          br {
            display: block;
          }
        }
      }
      img {
        display: block;
        height: rem(12);
        margin-bottom: .5em;
        @include mq(lap) {
          height: rem(16);
        }
      }
      em {
        display: block;
        font-size: rem(20);
        letter-spacing: .18em;
        @include mq(lap) {
          height: rem(30);
          margin-bottom: 1em;
        }
      }
      span {
        //font-size: rem(12);
        font-size: clamp(0.65rem, 0.472rem + 0.28vw, 0.75rem);
        letter-spacing: .172em;
        line-height: rem(18);
      }
    }
  }
  a:hover {
    .c-portal__img {
      img {
        transform: scale(1.1);
        transition-duration: .3s;
      }
      &:before {
        background: #97BFE5;
        transition-duration: .3s;
      }
      &:after {
        border-color: #257CCC;
        transition-duration: .3s;
      }
    }
  }
}
