@charset 'UTF-8';
@use '../../global' as *;

/*----------
  sidebar
----------*/
.c-sidebar {
  background: $color-darkwhite;
  padding: 5%;
  @include mq(lap) {
    background: transparent;
    padding: 0;
  }
  &__box,
  &__box2 {
    margin-bottom: 1rem;
  }
  &__box {
    h4 {
      color: $color-white;
      background: $color-cyan;
      padding: .6em;
      margin-bottom: 1em;
      font-weight: 700;
    }
    ul {
      li {
        font-size: rem(14);
      }
    }
  }
  &__box2 {
    h4 {
      font-weight: 700;
      margin-bottom: 1em;
      span {
        font-size: rem(12);
        font-weight: 700;
        margin-left: 1em;
      }
    }
    ul {
      li {
        margin-left: 1.125rem;
        font-size: rem(14);
      }
    }
    p,
    address,
    dl,
    dl.accordion {
      font-size: rem(14);
    }
    dl {
      display: flex;
      flex-wrap: wrap;
      font-size: rem(14);
      dt {
        width: 6em;
        font-weight: bold;
      }
      dd {
        width: calc(100% - 6em);
      }
    }
    dl.accordion {
      display: block;
      dt {
        width: 100%;
        position: relative;
        padding: .5em;
        border: 1px solid $color-cyan;
        margin-top: .5em;
        cursor: pointer;
        span {
          position: absolute;
          right: 20px;
          top: 0;
          height: 100%;
          border-radius: 0px 10px 10px 0px;
          &:before,
          &:after {
            display: block;
            content: "";
            background-color: $color-cyan;
            position: absolute;
            width: 15px;
            height: 1px;
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
            transition: 0.3s;
          }
          &:before {
            width: 1px;
            height: 15px;
          }
        }
        &.selected span:before {
          transform: translate(50%, 50%) rotate(90deg);
        }
      }
      dd {
        width: 100%;
        display: none;
        padding: 1em 0;
        font-size: rem(12);
        ul {
          li {
            position: relative;
            padding-left: 1.5em;
            &:before {
              content:'';
              position: absolute;
              border-radius: 1em;
              top: .8em;
              left: .5em;
              width: .3em;
              height: .3em;
              background: $color-black;
            }
          }
        }
      }
    }
  }
  &__calender {
    padding: .25rem;
    background: $color-white;
    border: 1px solid $color-litegray;
    text-align: center;
    @include mq(lap) {
      padding: .45rem;
    }
    h4 {
      color: $color-liteblack;
      background: transparent;
      padding: 0;
      margin: 0;
      font-size: rem(14);
      font-weight: 700;
      span {
        font-size: rem(20);
        font-weight: 700;
      }
    }
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 1px;
      text-align: center;
      caption {
        font-size: 1rem!important;
      }
      thead {
        th {
          font-size: rem(10);
          font-weight: 700;
          color: $color-darkgray;
          text-align: center;
        }
      }
      tbody {
        td {
          font-size: rem(10);
          line-height: rem(25);
          background: #F0F3F5;
          a {
            display: block;
            color: $color-white;
            background: $color-black;
          }
        }
      }
      tfoot {
        display: none!important;
      }
    }
  }
  &__monthly,
  &__area {
    .c-select,
    .c-select:before {
      border-color: $color-black;
    }
  }
}
