@charset 'UTF-8';
@use '../../global' as *;

/*----------
  tab
----------*/
.c-tabs {
  display: flex;
  width: auto;
  li {
    display: inline-block;
    font-size: rem(10);
    a {
      display: block;
      padding: .5em 2em;
      strong {
        font-size: rem(12);
        font-weight: 700;
      }
    }
  }
}
.c-panels {
  position: relative;
  @include mq(lap) {
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
    }
    &:before {
      top: 0;
      left: 0;
      border-top: 1px solid $color-litegray;
      border-left: 1px solid $color-litegray;
    }
    &:after {
      top: 0;
      right: 0;
      border-top: 1px solid $color-litegray;
      border-right: 1px solid $color-litegray;
    }
  }
}
.c-tab__area {
  display: none;
  position: relative;
  &.is-active {
    display: block;/*表示*/
    animation-name: displayTabAnime; /*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  @include mq(lap) {
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
    }
    &:before {
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $color-litegray;
      border-left: 1px solid $color-litegray;
    }
    &:after {
      bottom: 0;
      right: 0;
      border-bottom: 1px solid $color-litegray;
      border-right: 1px solid $color-litegray;
    }
  }
}

@keyframes displayTabAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




/*----------
  c-tab-select
----------*/
.c-tab-select {
  margin-top: 5rem;
  &__nav {
    &__button-outer {
      display: none;
      @include mq(lap) {
        display: block;
        margin-bottom: 3.5rem;
      }
      ul {
        display: table;
        table-layout: fixed;
        border-collapse: separate;
        //border-spacing: 5px 0;
        width: 100%;
        li {
          text-align: center;
          display: table-cell;
          font-size: rem(14);
          a {
            display: block;
            width: 100%;
            position: relative;
            //padding: .8em 0;
            font-weight: 700;
            height: 3.5rem;
            display: block;
            display:flex; flex-direction:column; justify-content:center; align-items:center;
            background: #eee;
            vertical-align: bottom;
            //border: 1px solid $color-cyan;
            border-bottom: 2px solid #2B98CE;

          }
          &.is-active {
            //background: $color-cyan;
            color: $color-white;
            a {
              background: $color-cyan;
              color: $color-white;
              height: 4rem;
              padding: 1.2rem 0 0rem;
              display: block;
              vertical-align: bottom;
            }

          }
        }
      }
    }
    &__select-outer {
      display: block;
      @include mq(lap) {
        display: none;
      }
    }
    &__select {
      overflow: hidden;
      display: block;
      width: 100%;
      font-size: rem(16);
      font-weight: 700;
      padding: 1em;
      margin: 0 auto 2rem;
      position: relative;
      border: 1px solid $color-litegray;
      background: $color-white;
      &::before {
        position: absolute;
        content: '';
        display: block;
        pointer-events: none;
        top: calc(50% - 3px);
        right: 1rem;
        width: 6px;
        height: 6px;
        border-right: 2px solid $color-litegray;
        border-bottom: 2px solid $color-litegray;
        transform: rotate(45deg);
      }
      select {
        width: 100%;
        padding-right: 1em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
        padding: 1em 2em 1em 1em;
        &:-ms-expand {
          display: none;
        }
      }
    }
  }
  &__contents {
    h3 {
      display: none;
    }
    h4 {
      font-weight: 700;
      background: $color-litecyan;
      padding: .8rem;
      margin-bottom: 2.125rem;
    }
  }
}
.__english .c-tab-select__nav__button-outer ul {
  table-layout:auto;
}
.__english .c-tab-select__nav__button-outer ul li {
  font-size: rem(12);
}