@charset 'UTF-8';
@use '../../global' as *;


/*
 home body
-----------------------------------------------------*/
@include mq(lap) {
  body.index {
    padding-top: 0;
    .l-header {
      background: transparent;
      box-shadow: none;
      fill: $color-white;
      color: $color-white;
      transition: .3s;
      &__sitelogo {
        color: $color-white;
        & svg {
          fill: $color-white;
        }
      }
      &__pcnav {
        color: $color-white;
        & svg {
          fill: $color-white;
          & path {
            fill: $color-white;
          }
        }
      }
    }
    #icn_twitter,
    #icn_facebook,
    #icn_instagram01 {
      fill: $color-white;
      & path {
        fill: $color-white;
      }
    }
    .header-scroll {
      background: $color-white;
      box-shadow: 0 3px 3px -5px rgb(0 0 0 / 50%);
      fill: $color-black;
      color: $color-black;
      .l-header__sitelogo {
        color: $color-black;
        & svg {
          fill: $color-black;
        }
      }
      .l-header__pcnav {
        fill: $color-black;
        color: $color-black;
        #icn_twitter,
        #icn_facebook,
        #icn_instagram01,
        #icn_instagram02,
        #icn_instagram03 {
          fill: $color-black;
          & path {
            fill: $color-black;
          }
        }
      }
    }
  }
}


/*
 home
-----------------------------------------------------*/
.p-index {
  .c-section__home {
    padding-bottom: 2.5rem;
    &__ctr {
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
      margin-right: auto;
      margin-left: auto;
    }
    h2 {
      font-size: 7vw;
      font-weight: 700;
      line-height: 1.64;
      margin-bottom: 2rem;
      font-family: $font-set-en;
      color: inherit;
      padding: 0;
      @include mq(swp) {
        font-size: 5vw;
      }
      @include mq(lap) {
        font-size: rem(40);
        margin-bottom: 4.8rem;
      }
      span {
        display: block;
        font-size: rem(12);
        line-height: 1.2;
        font-weight: 700;
      }
    }
    h3 {
      padding: 0;
    }
  }

  /*----------
  swiper
  ----------*/
  &__black {
    background-image: url("../img/index/bg_pc_line15.png"), url("../img/index/bg_pc_line15.png"), url("../img/index/bg_pc_line16.png"), url("../img/index/bg_pc_line14.png"), url("../img/index/bg_pc_line13.png");
    background-repeat: no-repeat;
    background-position: 20% 100%, 15% 100%, 115% 70%, 70% 110%, 0% 20%;
    background-size: 360px, 292px, 360px, 580px, 140px;
    background-color: $color-bg-gray;
  }



.slideshow {
  position: absolute;
  z-index: 1;
  top: 59px;
  // top: 59px;
  //top: 41px;
  left: 0;
  width: 100vw;
  // height: 100vw;
  //max-height: 35vh;
  aspect-ratio: 900 / 624;
  border-bottom: 2px solid #F5F5F5;
  // max-height: 32vh;
	@include mq(lap) {
    aspect-ratio: 2352 / 1092;
    //height: 87vh;
    //height: 94vh;
    top: -2px;
    border-bottom: 2px solid #F5F5F5;
	}
  @include mq(lap) {
    height: 87vh;
  }
  @include mq(vr) {
    height: 90vh;
  }
  @include mq(full) {
    height: 94vh;
  }
  // @include mq(lap) {
  //   max-height: 62vh;
  // }
  // @include mq(vr) {
	// 	max-height: 77vh;
	// }
  // @include mq(full) {
	// 	max-height: 92vh;
	// }
  overflow: hidden;
  .slider {
    width: 100vw;
    // height: 100vw;
    // max-height: 32vh;
    z-index: 2;
    aspect-ratio: 900 / 624;
    @include mq(lap) {
      aspect-ratio: 2352 / 1092;
      //height: 87vh;
      //height: 94vh;
    }
    @include mq(lap) {
      height: 87vh;
    }
    @include mq(vr) {
      height: 90vh;
    }
    @include mq(full) {
      height: 94vh;
    }
    * {
      outline: none;
    }
    .item {
      //height: 100vw;
      aspect-ratio: 900 / 624;
      @include mq(lap) {
        aspect-ratio: 2352 / 1092;
        //height: 87vh;
        //height: 94vh;
        top: 0;
      }
      @include mq(lap) {
        height: 87vh;
      }
      @include mq(vr) {
        height: 90vh;
      }
      @include mq(full) {
        height: 94vh;
      }
      // max-height: 35vh;
      // max-height: 32vh;
      // @include mq(lap) {
      //   max-height: 62vh;
      //   top: 0;
      // }
      // @include mq(vr) {
      //   top: 0;
      //   max-height: 77vh;
      // }
      // @include mq(full) {
      //   top: 0;
      //   max-height: 92vh;
      // }
      width: 100vw;
      position: relative;
      overflow: hidden;
      border: none;
      .text {
        display: none;
      }
      img {
        //min-width: 101%;
        width: auto;
        min-height: 101%;
        // min-width: 100%;
        // min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 900 / 624;
        object-fit: cover;
        @include mq(lap) {
          aspect-ratio: 2352 / 1092;
        }
      }
    }
  }
  .slick-dots {
    display: none!important;
    li {
      display: block;
      width: 100%;
      height: auto;
      button {
        position: relative;
        width: 20px;
        height: 15px;
        text-align: center;
        &:before {
          content: "";
          background: #fff;
          color: #fff;
          height: 2px;
          width: 20px;
          border-radius: 0;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          transform: translateY(-50%);
          transition: all 0.3s ease-in-out;
          opacity: 0.6;
        }
      }
    }
    li.slick-active button:before {
      width: 40px;
      opacity: 1;
    }
  }
  &.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
    aspect-ratio: 450/624;
    @include mq(lap) {
      aspect-ratio: 1176 / 1092;
    }
    .slider {
      left: 0;
      position: absolute;
    }
  }
}
.slideshow-text {
  position: absolute;
  //top: 60px;
  top: 45px;
  left: 0;
  z-index: 100;
  font-size: 14px;
  width: 100vw;
  // height: 32vh;
  aspect-ratio: 900 / 624;
  @include mq(lap) {
    aspect-ratio: 2352 / 1092;
    height: 100vw;
  }
  text-align: center;
  color: #fff;
  font-weight: 700;
  pointer-events: none;
  text-transform: uppercase;
  line-height: 1.4;
  padding: .5rem 5vw;
  display:flex; flex-direction:column; justify-content:center; align-items:center;
  span {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
    display: inline-block;
  }
  @include mq(lap) {
    // top: 0;
    height: 62vh;
    font-size: 18px;
    span {
      font-size: 36px;
    }
  }
  @include mq(vr) {
    height: 77vh;
  }
  @include mq(full) {
    height: 92vh;
  }
}


  /*----------
  news
  ----------*/
  &__news {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    color: $color-liteblack;
    @include mq(lap) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 3.5rem 0 7rem;
    }
    &__heading {
      @include mq(lap) {
        width: 10%;
      }
      h2 {
        line-height: 1;
        @include mq(lap) {
          margin-top: -1.5rem;
        }
      }
      .p-index__news__more {
        display: none;
        @include mq(lap) {
          display: block;
        }
      }
    }
    &__post {
      margin-bottom: 2.3rem;
      @include mq(lap) {
        width: 50%;
        margin-bottom: 0;
      }
      .p-index__news__more {
        display: block;
        text-align: right;
        @include mq(lap) {
          display: none;
        }
      }
      ul {
        margin-bottom: 2.3rem;
        @include mq(lap) {
          margin-bottom: 0rem;
        }
        li {
          display: block;
          position: relative;
          margin-top: -1px;
          &:before,
          &:after {
            position: absolute;
            display: block;
            content: "";
            width: 1rem;
            height: 1rem;
          }
          &:before {
            bottom: 0;
            left: 0;
            border-bottom: 1px solid $color-litegray;
            border-left: 1px solid $color-litegray;
          }
          &:after {
            bottom: 0;
            right: 0;
            border-bottom: 1px solid $color-litegray;
            border-right: 1px solid $color-litegray;
          }
          a {
            display: block;
            position: relative;
            padding: 1rem;
            &:before,
            &:after {
              position: absolute;
              display: block;
              content: "";
              width: 1rem;
              height: 1rem;
            }
            &:before {
              top: 0;
              left: 0;
              border-top: 1px solid $color-litegray;
              border-left: 1px solid $color-litegray;
            }
            &:after {
              top: 0;
              right: 0;
              border-top: 1px solid $color-litegray;
              border-right: 1px solid $color-litegray;
            }
            dl {
              @include mq(lap) {
                display: flex;
              }
              dt {
                @include mq(lap) {
                  width: 8em;
                }
              }
              dd {
                @include mq(lap) {
                  width: calc(100% - 8em);
                }
              }
            }
          }
        }
      }
    }
  }

  /*----------
  ticket and coupon
  ----------*/
  &__ticket {
    .c-gooddeal__heading {
      background-image: url("../img/common/head_ticket.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      height: 70px;
      @include mq(tab) {
        height: 100px;
      }
      @include mq(desk) {
        height: 140px;
      }
    }
    .tab {
      border: 1px solid $color-ticket;
      color: $color-ticket;
      svg {
        margin-right: 8px;
        fill: $color-ticket;
      }
      &.is-active {
        background: $color-ticket;
        color: $color-white;
        svg {
          fill: $color-white;
        }
      }
    }
    .c-gooddeal__area__box li:before {
      background: $color-ticket;
    }
  }
  &__coupon {
    @include mq(lap) {
      padding-bottom: 7.8rem;
    }
    .c-gooddeal__heading {
      background-image: url("../img/common/head_coupon.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      height: 70px;
      @include mq(tab) {
        height: 100px;
      }
      @include mq(desk) {
        background-position: 0 0;
        height: 140px;
      }
    }
    .tab {
      border: 1px solid $color-coupon;
      color: $color-coupon;
      svg {
        margin-right: 8px;
        fill: $color-coupon;
      }
      &.is-active {
        background: $color-coupon;
        color: $color-white;
        svg {
          fill: $color-white;
        }
      }
    }
    .c-gooddeal__area__box li:before {
      background: $color-coupon;
    }
  }
  .c-tabs {
    display: none;
    @include mq(lap) {
      display: flex;
    }

  }

  /*----------
  affiliated
  ----------*/
  &__affiliated {
    padding-top: 2rem;
    background: $color-bg-gray;
    padding: 5%;
    width: 100% !important;
    @include mq(lap) {
      padding-top: 6.75rem;
      background: $color-white;
    }
    &__wrapper {
      width: 100%;
      padding: 5%;
      margin: 0 auto;
      background: $color-white;
      @include mq(lap) {
        padding: 0;
      }
    }
    a {
      @include mq(lap) {
        display: flex !important;
        align-items: center;
      }
      img {
        display: block;
        margin-bottom: 5%;
        @include mq(lap) {
          width: 40% !important;
          margin: 0 5% 0 0;
        }
      }
      p {
        font-size: rem(16);
        font-weight: 700;
        @include mq(lap) {
          font-size: rem(24);
        }
        span {
          display: block;
          font-size: rem(12);
          font-weight: 700;
          color: #E60000;
          line-height: 1.9;
          @include mq(lap) {
            font-size: rem(14);
          }
        }
      }
    }
  }
}


.__english {
  & .p-index {
    &__affiliated {
      p {
        text-align: left;
        line-height: 140%;
        @include mq(lap) {
          font-size: rem(20);
        }
        span {
          margin-top: 10px;
          line-height: 140%;
        }
      }
    }
  }

}
