@charset 'UTF-8';
@use '../../global' as *;

/*----------
  sidebar
----------*/
.c-sidebar {
  background: $color-darkwhite;
  padding: 5%;
  @include mq(lap) {
    background: transparent;
    padding: 0;
  }
  &__box,
  &__box2 {
    margin-bottom: 1rem;
  }
  &__box {
    h4 {
      color: $color-white;
      background: $color-cyan;
      padding: .6em;
      margin-bottom: 1em;
      font-weight: 700;
    }
    ul {
      li {
        //margin-left: 1.125rem;
        font-size: rem(14);
      }
    }
  }
  &__box2 {
    h4 {
      font-weight: 700;
      margin-bottom: 1em;
      span {
        font-size: rem(12);
        font-weight: 700;
        margin-left: 1em;
      }
    }
    ul {
      li {
        margin-left: 1.125rem;
        font-size: rem(14);
      }
    }
    p,
    address,
    dl,
    dl.accordion {
      font-size: rem(14);
    }
    dl {
      display: flex;
      flex-wrap: wrap;
      font-size: rem(14);
      dt {
        width: 6em;
        font-weight: bold;
      }
      dd {
        width: calc(100% - 6em);
      }
    }
    dl.accordion {
      display: block;
      dt {
        width: 100%;
        position: relative;
        padding: .5em;
        border: 1px solid $color-cyan;
        margin-top: .5em;
        cursor: pointer;
        span {
          position: absolute;
          right: 20px;
          top: 0;
          height: 100%;
          border-radius: 0px 10px 10px 0px;
          &:before,
          &:after {
            display: block;
            content: "";
            background-color: $color-cyan;
            position: absolute;
            width: 15px;
            height: 1px;
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
            transition: 0.3s;
          }
          &:before {
            width: 1px;
            height: 15px;
          }
        }
        &.selected span:before {
          transform: translate(50%, 50%) rotate(90deg);
        }
      }
      dd {
        width: 100%;
        display: none;
        padding: 1em 0;
        font-size: rem(12);
        ul {
          li {
            position: relative;
            padding-left: 1.5em;
            &:before {
              content:'';
              position: absolute;
              border-radius: 1em;
              top: .8em;
              left: .5em;
              width: .3em;
              height: .3em;
              background: $color-black;
            }
          }
        }
      }
    }
  }
  &__calender {
    padding: .25rem;
    background: $color-white;
    border: 1px solid $color-litegray;
    text-align: center;
    @include mq(lap) {
      padding: .45rem;
    }
    h4 {
      color: $color-liteblack;
      background: transparent;
      padding: 0;
      margin: 0;
      font-size: rem(14);
      font-weight: 700;
      span {
        font-size: rem(20);
        font-weight: 700;
      }
    }
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 1px;
      text-align: center;
      caption {
        font-size: 1rem!important;
      }
      thead {
        th {
          font-size: rem(10);
          font-weight: 700;
          color: $color-darkgray;
          text-align: center;
        }
      }
      tbody {
        td {
          font-size: rem(10);
          line-height: rem(25);
          background: #F0F3F5;
          a {
            display: block;
            color: $color-white;
            background: $color-black;
          }
        }
      }
      tfoot {
        display: none!important;
      }
    }
  }
  &__monthly,
  &__area {
    .c-select,
    .c-select:before {
      border-color: $color-black;
    }
  }
  // &__snowfall {
  //   table {
  //     width: 100%;
  //     text-align: center;
  //     thead {
  //       th {
  //         font-size: rem(14);
  //         font-weight: 700;
  //         text-align: center;
  //         padding-bottom: .5em;
  //       }
  //     }
  //     tbody {
  //       tr {
  //         border-bottom: 1px solid $color-litegray;
  //       }
  //       td {
  //         font-size: rem(12);
  //         line-height: 1.5;
  //         padding: .5em 1em;
  //         &.color01 {
  //           background: #DBEDF7;
  //         }
  //       }
  //     }
  //   }
  // }
  // &__lnk {
  //   ul {
  //     display: flex;
  //     flex-wrap: wrap;
  //     align-items: center;
  //     margin-bottom: 5%;
  //     font-size: rem(13);
  //     li {
  //       width: $column2_width;
  //       margin-left: $column_margin;
  //       margin-bottom: 10px;
  //       &:nth-child(2n+1) {
  //         margin-left: 0;
  //       }
  //       a {
  //         position: relative;
  //         display: block;
  //         border: 1px solid $color-cyan;
  //         padding: .5em 2em .5em 1em;
  //         font-size: rem(12);
  //         &:after {
  //           border-color: $color-cyan;
  //         }
  //       }
  //     }
  //   }
  // }
  // &__time {
  //   h4 {
  //     font-weight: 700;
  //   }
  //   dl {
  //     font-size: rem(14);
  //     dt {
  //       padding-top: .5em;
  //       font-weight: 700;
  //     }
  //     dd {
  //       padding-bottom: .5em;
  //       border-bottom: 1px solid $color-litegray;
  //     }
  //   }
  // }
  // &__pin {
  //   background: url("../../assets/img/common/icn_pin2.svg") no-repeat 0 .3rem;
  //   background-size: 20px;
  //   padding: 0 0 0 30px;
  //   font-size: rem(14);
  // }
  // &__tel {
  //   background: url("../../assets/img/common/icn_tel.svg") no-repeat 0 .3rem;
  //   background-size: 20px;
  //   padding: 0 0 0 30px;
  //   font-size: rem(14);
  // }
  // &__hour {
  //   background: url("../../assets/img/common/icn_time.svg") no-repeat 0 .3rem;
  //   background-size: 20px;
  //   padding: 0 0 0 30px;
  //   font-size: rem(14);
  // }
  // &__price2 {
  //   background: url("../../assets/img/common/icn_yen.svg") no-repeat 0 .3rem;
  //   background-size: 20px;
  //   padding: 0 0 0 30px;
  //   font-size: rem(14);
  // }
  // &__contact {
  //   h4 {
  //     font-weight: 700;
  //   }
  //   dl {
  //     font-size: rem(13);
  //     div {
  //       display: flex;
  //       flex-wrap: wrap;
  //       padding: .5em 0;
  //       border-bottom: 1px solid $color-litegray;
  //       dt {
  //         width: 100%;
  //       }
  //       dd {
  //         width: 100%;
  //         text-align: right;
  //         & p {
  //           text-align: right;
  //         }
  //       }
  //     }
  //   }
  // }
  // &__photo {
  //   a {
  //     display: block;
  //     background: $color-black;
  //     color: $color-white;
  //     padding: 1em;
  //     text-align: center;
  //     span {
  //       position: relative;
  //       padding-left: 1.5em;
  //       &:before {
  //         content: "";
  //         position: absolute;
  //         width: 1em;
  //         height: 1em;
  //         top: calc(50% - .5em);
  //         left: 0;
  //         background: url("../../assets/img/common/icn_caution.svg") no-repeat 50% 50%;
  //         background-size: contain;
  //       }
  //     }
  //   }
  // }

  // &__link {
  //   a {
  //     display: block;
  //     padding: 1rem;
  //     border: 1px solid $color-cyan;
  //     &:after {
  //       border-color: $color-cyan;
  //     }
  //     &:hover:after {
  //       right: .8em;
  //     }
  //   }
  // }
  // &__link2 {
  //   a {
  //     display: block;
  //     padding: 5px;
  //     font-size: rem(18);
  //     line-height: rem(28);
  //     color: $color-white;
  //     background-image: radial-gradient(circle at 50% 4%, rgba(211, 143, 63, 1), rgba(139, 82, 13, 1));
  //     span {
  //       position: relative;
  //       display: block;
  //       padding: 1rem;
  //       border: 1px solid #FFE8CC;
  //     }
  //   }
  // }
}
