@charset 'UTF-8';
@use '../global' as *;

/*
  footer
-----------------------------------------------------*/
.l-footer {
    color: $color-white;
    background-color: $color-black;
    &__inner {
        width: 90%;
        max-width: 1125px;
        margin: 0 auto;
        padding: 2.75rem 0 2rem;
        @include mq(lap) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__nav {
        margin-bottom: 2rem;
        @include mq(lap) {
            width: 46%;
            order: 2;
            display: flex;
            justify-content: space-between;
            margin: 0;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: .8em;
            font-size: rem(12);
            @include mq(lap) {
                display: block;
            }
            li {
                width: 50%;
                margin-bottom: .8em;
                @include mq(lap) {
                    width: 100%;
                }
                a {
                    display: block;
                    transition: .3s;
                    &:hover {
                            opacity: .8;
                        }
                }
            }
            &:last-of-type {
                li:first-of-type {
                    width: 100%;
                    text-align: center;
                    a {
                        position: relative;
                        margin-bottom: 1em;
                        padding: .5em;
                        padding-right: 1.5em;
                        border: 1px solid $color-white;
                    }
                }
                @include mq(lap) {
                    width: 190px;
                }
            }
        }
    }
    &__logo {
        @include mq(lap) {
            width: 35%;
            order: 1;
        }
        > a {
            width: 50%;
            display: block;
        }
    }
    &__add {
        font-size: rem(14);
        margin-top: 2em;
        address {
            display: block;
            margin-bottom: 1rem;
        }
    }
    &__sns {
        display: flex;
        li {
            width: 1.2rem;
            margin-right: 2rem;
            a {
                display: block;
                transition: .3s;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}

.__english .l-footer__add address {
    font-size: 12px;
}

.l-copyright {
    white-space: nowrap;
    letter-spacing: 0;
    text-align: center;
    font-size: rem(12);
    padding-bottom: 1em;
}
