@charset 'UTF-8';
@use '../global' as *;

/*clearfix*/
.clearfix::after {content: "";display: table;clear: both;}

/*----------
  main
----------*/
body.index main {
	padding-top: 32vh;
	@include mq(lap) {
		padding-top: 60vh;
	}
	@include mq(vr) {
		padding-top: 75vh;
	}
	@include mq(full) {
		padding-top: 90vh;
	}
}


.c-main {
	padding: 5rem 0 8rem;
	&__wrapper {
		max-width: 1120px;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	background-image: url("../img/index/bg_pc_line15.png"), url("../img/index/bg_pc_line15.png"), url("../img/index/bg_pc_line16.png"), url("../img/index/bg_pc_line13.png");
	background-repeat: no-repeat;
	background-position: 90% 0%, 108% 100%, 95% 0%, 0% 0%;
	background-size: 360px, 292px, 360px, 140px;
	background-color: $color-bg-gray;
}

.l-main {
	background-image: url("../img/index/bg_pc_line15.png"), url("../img/index/bg_pc_line15.png"), url("../img/index/bg_pc_line16.png"), url("../img/index/bg_pc_line14.png"), url("../img/index/bg_pc_line13.png");
	background-repeat: no-repeat;
	background-position: 80% 0%, 18% 42%, 85% 0%, 110% 120%, 0% 0%;
	background-size: 360px, 292px, 360px, 580px, 140px;
	background-color: $color-bg-gray;
}
body.index .l-main {
	background-image: url("../img/index/bg_pc_line15.png"), url("../img/index/bg_pc_line15.png"), url("../img/index/bg_pc_line13.png"), url("../img/index/bg_pc_line16.png");
	background-repeat: no-repeat;
	background-position: 10% 50%, 100% 94%, 0% 92%, 111% 92%;
	background-size: 360px, 292px, 240px, 360px;
	background-color: $color-bg-gray;
}

.c-post {
	@include mq(lap) {
		display: flex;
		justify-content: space-between;
	}
	.c-conts {
		margin-bottom: 3rem;
		@include mq(lap) {
			width: 67%;
		}
	}
	.c-sidebar {
		@include mq(lap) {
			width: 25%;
		}
	}
}


ul.astarisk { font-size: rem(13); list-style-type: none; margin-bottom: 2rem; }
ul.astarisk li { position: relative; line-height: 1.6; padding: 0 0 0 1em; margin-bottom: 3px; background: none; }
ul.astarisk li:before { content:'※'; position: absolute; border-radius: 0; top: 0; left: 0; width: 1em; height: 1em; background: none; }
ul.astarisk li span { color: #f50000; }


a[href*="tel:"] {
	@include mq(lap) {
		pointer-events: none;
		cursor: default;
		text-decoration: none;
	}
}

.c-sp {
	display: block;
	@include mq(lap) {
		display: none;
	}
}
.c-pc {
	display: none;
	@include mq(lap) {
		display: block;
	}
}
