@charset 'UTF-8';
@use '../../global' as *;

/*----------
  select
----------*/
.c-select {
  overflow: hidden;
  width: 100%;
  margin: 0 auto 1.42rem;
  text-align: center;
  position: relative;
  border: 1px solid $color-gray;
  background: $color-white;
  &::before {
    position: absolute;
    content: '';
    pointer-events: none;
    top: calc(50% - .25em);
    right: 1em;
    width: .5em;
    height: .5em;
    border-right: 2px solid $color-liteblack;
    border-bottom: 2px solid $color-liteblack;
    transform: rotate(45deg);
  }
  select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 1em 2em 1em 1em;
    color: $color-liteblack;
    &:-ms-expand {
      display: none;
    }
  }
}

