@charset 'UTF-8';
@use '../../global' as *;

/*----------
  swiper
----------*/

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: trancepect;
  top: 30% !important;
  @include mq(lap) {
    top: 50% !important;
  }
}
.swiper-button-next,
.swiper-button-prev,
.swiper-button-prev:after,
.swiper-button-next:after {
  --swiper-navigation-size: 25px;
}
.swiper-pagination {
  display: none !important;
  @include mq(lap) {
    display: flex !important;
  }
}

